@model Techshop.Models.ViewModels.UserUpdateVm

@{
    ViewBag.Title = "User's Info";
    Layout = "_Layout";
}

<h2>User's Info</h2>

<div class="">

    <div class="d-flex align-items-center" style="height: 40px">
        <div class="ms-auto">
            @if (User.Identity is { IsAuthenticated: true } && User.IsInRole("Administrator"))
            {
                <a asp-area="Backoffice" asp-controller="Dashboard" asp-action="Index" class="btn btn-link">Go to admin site</a>
            }
            else
            {
                <a asp-controller="CartItem" asp-action="Index" class="btn btn-link">View my cart</a>
                <a asp-controller="Order" asp-action="Index" class="btn btn-link">View my orders</a>
            }
        </div>
    </div>

    <form asp-controller="User" asp-action="Info" method="post">

        <div class="d-flex flex-column gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FullName">Full Name</label>
                <input type="text" asp-for="FullName" class="form-control" required>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone">Phone</label>
                <input type="text" asp-for="Phone" class="form-control" required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" class="form-control" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address">Address</label>
                <input type="text" asp-for="Address" class="form-control" required>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

        </div>

    </form>

</div>