@model IEnumerable<Techshop.Models.Entities.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex w-100 flex-wrap">

    @if (!Model.Any())
    {
        <div>
            You webpage seems to have no product yet!
        </div>
    }
    else
    {
        @foreach (var i in Model)
        {
            @await Html.PartialAsync("_CardProduct", i)
        }
    }

</div>